# Build artifacts
bin/
obj/
publish/
out/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log
logs/

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
.vs/
*.code-workspace

# Dependency directories
node_modules/
packages/

# Docker files
*.env
docker-compose.override.yml

# Others
*.bak
*.swp